@import '../base/typography';
@import '../base/variable';
@import '../base/reset';
@import '../base/mixin';

.footer {
    display: flex;
    justify-content: center;

    .container {
        width: 1440px;
    }

    background-color: $color--fifth;

    .footer__content {
        position: relative;
        @include flexColumn();
        padding: 48px 0;

        @media (min-width:768px) {
            flex-direction: unset;
            justify-content: space-between;
            padding: 80px;

        }

        h2 {
            @include texth2Events();
            margin-bottom: 32px
        }

        button {
            @include bntEvents();
        }

    }


    .line {
        border-width: 1px 0px 1px 0px;
        border-style: solid;
        border-color: #334155;
        width: 94%;
        margin: 0 auto;

    }

    .footer__container {
        @media (min-width:768px) {
            display: flex;
            padding: 0 80px;
            justify-content: space-between;
        }

        .footer__column {
            margin-bottom: 48px;

            h3 {
                @include texth3Footer ();
                margin-top: 60px;
                margin-bottom: 24px;
            }

            ul {
                @include flexColumn();
                row-gap: 24px;

                li {
                    a {
                        @include texth3Footer ();
                        color: #E2E8F0;
                    }

                }
            }
        }

        .footer__app {
            padding-bottom: 48px;

            @media (min-width:768px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding-bottom: unset;
            }

            h3 {
                @include texth3Footer();
                margin-bottom: 20px;
                margin-top: 12px;
            }

            .footer__bnt {
                @include flexColumn();
                row-gap: 8px;
                margin-bottom: 56px;

                @media (min-width:768px) {
                    align-items: unset;
                }
            }
        }

        .footer__social {
            h3 {
                @include texth3Footer();
                color: #E2E8F0;
                margin-bottom: 20px;

                @media (min-width:768px) {
                    margin: 0;
                    padding-bottom: 20px;
                    text-align: left;
                }
            }

            .footer__icons {
                @include center();
                column-gap: 16px;

                a {


                    img {}

                }
            }



        }

    }

    .footer__bottom {
        padding: 48px 0;

        @media (min-width:768px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 37px 80px;
        }

        p {
            @include texth3Footer();
            color: #E2E8F0;
            margin-bottom: 37px;

            @media (min-width:768px) {
                margin: 0;

            }
        }

        ul {
            @include center();
            column-gap: 32px;

            li {
                a {
                    @include textFooter();


                }

                .footer__work {

                    @include center();
                    column-gap: 8px;

                }
            }
        }
    }
}